/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__uauzD {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./src/components/HeroesList/heroesList.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.heroesList_heroes__Kjo1X {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  position: absolute;
  top: 40%;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .heroesList_heroes__Kjo1X {
    max-width: 1520px;
    top: 50%;
  }
}

.heroesList_imageContainer__Wn1Si {
  cursor: pointer;
  position: relative;
}
.heroesList_imageContainer__Wn1Si img {
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  width: 100%;
}
.heroesList_imageContainer__Wn1Si.heroesList_spider-man-616__rCk_7 {
  height: 360px;
}
.heroesList_imageContainer__Wn1Si.heroesList_mulher-aranha-65__ET8N9 {
  height: 300px;
}
.heroesList_imageContainer__Wn1Si.heroesList_spider-man-1610__KBAEQ {
  height: 324px;
}
.heroesList_imageContainer__Wn1Si.heroesList_sp-dr-14512__CAYly {
  height: 324px;
}
.heroesList_imageContainer__Wn1Si.heroesList_spider-ham-8311__JV4b4 {
  height: 146px;
}
.heroesList_imageContainer__Wn1Si.heroesList_spider-man-90214__n3Q1j {
  height: 376px;
}
.heroesList_imageContainer__Wn1Si.heroesList_spider-man-928__3A7Wk {
  height: 360px;
}

.heroesList_title__bHcIA {
  font-size: 26vw;
  margin: 0;
}
@media screen and (min-width: 1920px) {
  .heroesList_title__bHcIA {
    font-size: 30rem;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[2].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\fonts\\index.ts","import":"","arguments":[{"src":"../fonts/spider-man.otf","weight":"400","display":"swap"}],"variableName":"spidermanFont"} ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__spidermanFont_f576b6';
src: url(/_next/static/media/55a3336a1704822b-s.p.otf) format('opentype');
font-display: swap;
font-weight: 400;
}@font-face {font-family: '__spidermanFont_Fallback_f576b6';src: local("Arial");ascent-override: 143.83%;descent-override: 35.03%;line-gap-override: 18.61%;size-adjust: 58.26%
}.__className_f576b6 {font-family: '__spidermanFont_f576b6', '__spidermanFont_Fallback_f576b6';font-weight: 400
}

